@if (editing) {
  <h1>Editing role "{{ model.rolenameValue }}"</h1>
}
@if (adding) {
  <h1>Add new role</h1>
}

<form (ngSubmit)="updateRole()">
  @if (adding) {
    <div class="row">
      <div class="col-lg-6 col-12">
        <mat-form-field appearance="outline">
          <mat-label>Role name</mat-label>
          <input
            matInput
            type="text"
            [formControl]="model.rolename"
            name="rolename"
            autocorrect="off"
            autocapitalize="none"
            required
          />
          @if (model.rolename.errors) {
            <mat-error>
              {{ model.rolenameError }}
            </mat-error>
          }
        </mat-form-field>
      </div>
    </div>
  }

  <div class="row">
    <div class="col-lg-6 col-12">
      <values-picker
        name="permission"
        [value-mapper]="UIFriendlyPermission"
        [control]="model.permissions"
        [disabled-list]="lockedPermissions"
        [selection-list]="allPermissions"
      ></values-picker>
    </div>
  </div>

  <div class="row">
    <div class="col-12 py-4">
      <button mat-raised-button type="submit" color="primary">
        {{ editing ? 'UPDATE' : 'ADD' }}
      </button>

      <button
        mat-raised-button
        class="ms-2"
        color="accent"
        type="button"
        (click)="cancel()"
      >
        CANCEL
      </button>
    </div>
  </div>
</form>
