<h1>System Settings</h1>

@for (category of preferences | async; track category) {
  @if (category.category !== null) {
    <h2>{{ category.category }}</h2>
  }
  <div class="row">
    @for (pref of category.prefs; track pref) {
      <pref-option
        class="col-md-6 col-12"
        [pref]="pref"
        [update]="sysPrefService.setPreference.bind(sysPrefService)"
        [name]="getName(pref.key)"
        [helpText]="getHelpText(pref.key)"
        [validator]="getValidator(pref.key)"
      ></pref-option>
    }
  </div>
}
