<div class="content-border">
  @if (canUpload) {
    <my-dropzone>
      <input type="file" fileInput [formControl]="fileControl" />
      <div class="centered">
        <h1>Upload Image</h1>
        <p>Drag and drop / paste an image here, or click to select an image</p>
      </div>
    </my-dropzone>
  }

  @if (!canUpload) {
    <div class="centered">
      @if (loggedIn) {
        <h1>Uploading is not allowed</h1>
        <p>Your account does not have permission to upload images.</p>
      } @else {
        <h1><a routerLink="/user/login">Please log in</a></h1>
        <p>You do not yet have permission to upload</p>
      }
    </div>
  }
</div>
