<h1>Account</h1>

@if (userService.live | async; as user) {
  <p>Logged in as {{ user.username }}.</p>
}

@if (methods?.oidc; as oidc) {
  <h2>Logging in with {{ oidc.provider }}</h2>
  @if (oidc.linked) {
    <p>
      Your {{ oidc.provider }} account{{
        oidc.name ? ' (' + oidc.name + ')' : ''
      }}
      is linked, so you can log in with it.
      @if (!passwordLogin) {
        Logging in with a password is turned off on this server, so this is how
        you log in.
      } @else if (!hasPassword) {
        Set a password before unlinking it, or you could not log in anymore.
      }
    </p>
    <div class="pb-4">
      <button
        mat-stroked-button
        type="button"
        (click)="unlinkOidc()"
        [disabled]="loading || !hasPassword || !passwordLogin"
      >
        UNLINK
      </button>
    </div>
  } @else {
    <p>Link your {{ oidc.provider }} account to log in with it.</p>
    <div class="pb-4">
      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="linkOidc()"
        [disabled]="loading"
      >
        LINK YOUR {{ oidc.provider | uppercase }} ACCOUNT
      </button>
    </div>
  }
}

@if (hasPassword) {
  <h2>Change password</h2>
  <p>This logs you out everywhere else.</p>
} @else {
  <h2>Set a password</h2>
  <p>Your account has no password yet, you log in at the provider.</p>
}

<form (ngSubmit)="changePassword()">
  @if (hasPassword) {
    <div class="row">
      <div class="col-lg-6 col-12">
        <mat-form-field appearance="outline">
          <mat-label>Current password</mat-label>
          <input
            matInput
            type="password"
            [formControl]="model.currentPassword"
            name="current-password"
            autocomplete="current-password"
            required
          />
          @if (model.currentPassword.errors) {
            <mat-error>
              {{ model.currentPasswordError }}
            </mat-error>
          }
        </mat-form-field>
      </div>
    </div>
  }

  <div class="row">
    <div class="col-lg-6 col-12">
      <mat-form-field appearance="outline">
        <mat-label>New password</mat-label>
        <input
          matInput
          type="password"
          [formControl]="model.newPassword"
          name="new-password"
          autocomplete="new-password"
          required
        />
        @if (model.newPassword.errors) {
          <mat-error>
            {{ model.newPasswordError }}
          </mat-error>
        }
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-12">
      <mat-form-field appearance="outline">
        <mat-label>Confirm new password</mat-label>
        <input
          matInput
          type="password"
          [formControl]="model.newPasswordConfirm"
          name="confirm-new-password"
          autocomplete="new-password"
          required
        />
        @if (model.newPasswordConfirm.errors) {
          <mat-error>
            {{ model.newPasswordConfirmError }}
          </mat-error>
        }
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-12 pb-4">
      <button
        mat-raised-button
        type="submit"
        color="primary"
        [disabled]="loading"
      >
        {{
          loading
            ? 'LOADING...'
            : hasPassword
              ? 'CHANGE PASSWORD'
              : 'SET PASSWORD'
        }}
      </button>
    </div>
  </div>
</form>
