@if (state === 'canvas' || state === 'loading') {
  <canvas
    [style.display]="state === 'loading' ? 'none' : 'block'"
    height="0"
    width="0"
    #targetcanvas
  ></canvas>
}

@if (state === 'image' || state === 'loading') {
  <img
    [style.display]="state === 'loading' ? 'none' : 'block'"
    loading="lazy"
    #targetimg
  />
}

@if (state === 'error') {
  <mat-icon>broken_image</mat-icon>
}

@if (state === 'init' || state === 'loading') {
  <mat-spinner (inview)="onInview()" (outview)="onOutview()"></mat-spinner>
}
