<h1>Create a ShareX target config</h1>
<p>
  Choose the file format you'd like when sharing. Exporting creates a new api
  key named "ShareX" for the config, delete it under Api Keys to stop the config
  from working.
</p>
<div class="row">
  <mat-form-field class="col-12 col-md-4 col-xl-3" appearance="outline">
    <mat-label>Image Format</mat-label>
    <mat-select [(value)]="selectedFormat">
      @for (format of formatOptions; track format) {
        <mat-option [value]="format.key">
          {{ format.value }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>
<div class="row">
  <div class="col">
    <button
      color="primary"
      mat-raised-button
      [disabled]="exporting"
      (click)="onExport()"
    >
      {{ exporting ? 'Exporting...' : 'Export Config' }}
    </button>
  </div>
</div>
