@if (album === null) {
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
} @else {
  <div class="title-row">
    <div>
      <h1>{{ album.name }}</h1>
      <p class="subtitle">
        By {{ owner?.username }}, {{ album.image_count }}
        {{ album.image_count === 1 ? 'image' : 'images' }}
      </p>
    </div>
    <div class="actions">
      <button mat-stroked-button (click)="copyLink()">
        <mat-icon fontSet="material-icons-outlined">link</mat-icon>
        COPY LINK
      </button>
      @if (canManage) {
        <button mat-stroked-button (click)="rename()">RENAME</button>
        <button mat-button color="warn" (click)="deleteAlbum()">DELETE</button>
      }
    </div>
  </div>

  @if (images !== null && images.length === 0) {
    <p>
      There are no images in this album yet.
      @if (canManage) {
        Add them with the album button on the page of an image, or on your
        images.
      }
    </p>
  }

  @if (images !== null && images.length > 0) {
    <masonry [columns]="columns">
      @for (image of images; track image.id) {
        <ng-template masonry-item>
          <div class="m-2">
            <mat-card>
              <mat-card-header>
                <mat-card-title>{{
                  image.file_name | truncate
                }}</mat-card-title>
                <mat-card-subtitle>
                  Uploaded {{ image.created | amTimeAgo }}
                </mat-card-subtitle>
              </mat-card-header>
              <picsur-img
                mat-card-image
                class="clickable"
                [src]="getThumbnailUrl(image)"
                (click)="viewImage(image)"
              >
              </picsur-img>
              <mat-card-actions>
                <button mat-stroked-button (click)="viewImage(image)">
                  VIEW
                </button>
                @if (canManage) {
                  <button mat-button (click)="removeImage(image)">
                    REMOVE
                  </button>
                }
              </mat-card-actions>
            </mat-card>
          </div>
        </ng-template>
      }
    </masonry>
    <paginator
      [total-pages]="pages"
      [page]="page"
      (page)="gotoPage($event)"
    ></paginator>
  }
}
