<mat-form-field class="value-picker" appearance="outline">
  <mat-label>{{ nameCapMul }}</mat-label>
  <mat-chip-grid #chipList>
    @for (item of this.myControl.value; track item) {
      <mat-chip-row
        [removable]="!isDisabled(item)"
        [disabled]="isDisabled(item)"
        (removed)="removeItem(item)"
      >
        {{ valueMapper(item) }}
        @if (!isDisabled(item)) {
          <button matChipRemove>
            <mat-icon fontSet="material-icons-outlined">cancel</mat-icon>
          </button>
        }
      </mat-chip-row>
    }
    <input
      placeholder="Add {{ name }}..."
      [formControl]="inputControl"
      [value]="inputControl.value"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="addItemInput($event)"
      autocorrect="off"
      autocapitalize="none"
    />
  </mat-chip-grid>
  <mat-autocomplete
    #auto="matAutocomplete"
    (optionSelected)="addItemSelect($event)"
  >
    @for (item of found | async; track item) {
      <mat-option [value]="item">
        {{ valueMapper(item) }}
      </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
